/*404页面*/
.noFind {
    text-align: center;
    padding-top: 2%;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

    .noFind i {
        line-height: 1em;
        font-size: 12em !important;
        color: #393D50;
        display: block;
    }

.ufo {
    text-align: center; /*height:100%;*/
    position: relative;
}

.noFind .page_icon, .noFind .ufo_icon {
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.noFind .page_icon {
    top: 300px;
    animation: pageGo 0.3s ease-in 0.3s forwards;
    -webkit-animation: pageGo 0.3s ease-in 0.3s forwards;
    -o-animation: pageGo 0.3s ease-in 0.3s forwards;
    -moz-animation: pageGo 0.3s ease-in 0.3s forwards;
}

.noFind .ufo_icon {
    top: 100px;
    animation: ufo 1s ease-in 0.6s forwards;
    -webkit-animation: ufo 1s ease-in 0.6s forwards;
    -o-animation: ufo 1s ease-in 0.6s forwards;
    -moz-animation: ufo 1s ease-in 0.6s forwards;
}

.page404 {
    margin-top: 10%;
    opacity: 0;
    font-size: 0;
    animation: page404 0.5s ease-in 1.7s forwards;
    -webkit-animation: page404 0.5s ease-in 1.7s forwards;
    -o-animation: page404 0.5s ease-in 1.7s forwards;
    -moz-animation: page404 0.5s ease-in 1.7s forwards;
}

    .page404 p {
        font-size: 20px;
        font-weight: 300;
        color: #999;
    }
/*页面被吸走*/
@keyframes pageGo {
    from {
        font-size: 12em;
        top: 300px;
    }

    to {
        font-size: 0;
        opacity: 0;
        top: 100px;
    }
}

@-moz-keyframes pageGo {
    from {
        font-size: 12em;
        top: 300px;
    }

    to {
        font-size: 0;
        opacity: 0;
        top: 100px
    }
}

@-webkit-keyframes pageGo {
    from {
        font-size: 12em;
        top: 300px;
    }

    to {
        font-size: 0;
        opacity: 0;
        top: 100px
    }
}

@-o-keyframes pageGo {
    from {
        font-size: 12em;
        top: 300px;
    }

    to {
        font-size: 0;
        opacity: 0;
        top: 100px
    }
}
/*ufo飞走*/
@keyframes ufo {
    0% {
        font-size: 14em;
        top: 100px;
    }

    20% {
        font-size: 12em;
        top: 50px;
    }

    100% {
        font-size: 0;
        opacity: 0;
        top: -100px;
        left: 80%;
    }
}

@-moz-keyframes ufo {
    0% {
        font-size: 14em;
        top: 100px;
    }

    20% {
        font-size: 12em;
        top: 50px;
    }

    100% {
        font-size: 0;
        opacity: 0;
        top: -100px;
        left: 80%;
    }
}

@-webkit-keyframes ufo {
    0% {
        font-size: 14em;
        top: 100px;
    }

    20% {
        font-size: 12em;
        top: 50px;
    }

    100% {
        font-size: 0;
        opacity: 0;
        top: -100px;
        left: 80%;
    }
}

@-o-keyframes ufo {
    0% {
        font-size: 14em;
        top: 100px;
    }

    20% {
        font-size: 12em;
        top: 50px;
    }

    100% {
        font-size: 0;
        opacity: 0;
        top: -100px;
        left: 80%;
    }
}
/*404显示*/
@keyframes page404 {
    from {
        opacity: 0;
        font-size: 2em;
    }

    to {
        opacity: 1;
        font-size: 2em;
    }
}

@-moz-keyframes page404 {
    from {
        opacity: 0;
        font-size: 2em;
    }

    to {
        opacity: 1;
        font-size: 2em;
    }
}

@-webkit-keyframes page404 {
    from {
        opacity: 0;
        font-size: 2em;
    }

    to {
        opacity: 1;
        font-size: 2em;
    }
}

@-o-keyframes page404 {
    from {
        opacity: 0;
        font-size: 2em;
    }

    to {
        opacity: 1;
        font-size: 2em;
    }
}

.tzEllipsis {
    overflow: hidden; /*单行文本溢出*/
    text-overflow: ellipsis; /*文本溢出显示省略号*/
    white-space: nowrap; /*文本不会换行（单行文本溢出）*/
}

.tzModel {
    /* width: 100%;
            height: 100%; */
    width: 100%;
    height: 540px;
    overflow: hidden;
    background: #fff;
    position: relative;
    padding-bottom: 60px;
}

    .tzModel > .tzModelBody {
        padding: 10px 20px;
        box-sizing: border-box;
        height: 490px;
    }

    .tzModel > .tzModelFoot {
        width: 100%;
        height: 40px;
        line-height: 35px;
        text-align: center;
        position: absolute;
        padding-top: 5px;
        left: 0;
        bottom: -1px;
        border-top: 1px solid #ddd;
        box-sizing: border-box;
    }
    .tzModelSaving{
        display:none;
    }
.tzModelSave {
    width: 105px;
}

.tzModelCancel {
    border: 1px solid #C9C9C9;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 14px;
    background: #fff;
    width: 105px;
}

    .tzModelCancel:hover {
        color: #62bcfa;
        border: 1px solid #62bcfa;
    }


    .cloud-index-breadcrumb{
        padding-left:10px;
    }